<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="~/js/person-script.js"></script>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <div class="grid-container">
        <header class="site-header">
            <h1 class="logo">Logo</h1>
            <nav class="site-nav">
                <ul>
                    <!-- link text, action, controller-->
                    <li>@Html.ActionLink("About", "Index", "Site")</li>
                    <li>@Html.ActionLink("Peoples", "Index", "People")</li>
                    <li>@Html.ActionLink("Countries", "Index", "Countries")</li>
                    <li>@Html.ActionLink("Cities", "Index", "Cities")</li>
                    <li>@Html.ActionLink("Language", "Index", "Languages")</li>
                    <li>@Html.ActionLink("Person Language", "Index", "PersonLanguages")</li>
                    <li>@Html.ActionLink("Application Users", "Index", "Account")</li>
                    <li>@Html.ActionLink("Register", "Register", "Account")</li>
                    <partial name="_LoginPartial" />

                </ul>
            </nav>
        </header>
        <div class="container">
            <main class="render-body">

                @RenderBody()
            </main>
        </div>

        <footer>
            <p>Time: <span class="current-time">@DateTime.Now</span></p>
            <p>Kristoffer Gustafsson</p>
        </footer>

    </div>
    @RenderSection("Scripts", required: false)
</body>
</html>
