@{
    ViewData["Title"] = "Lexicon Assignment Week 8 Contact";
}

<h1>@ViewBag.HeadLine</h1>

<ul>
    <li>@ViewBag.Name</li>
    <li>@ViewBag.Address</li>
    <li>@ViewBag.PhoneNumber</li>
    <li>@ViewBag.Email</li>
</ul>
